<% include ./partials/header.ejs %>

<div class="Rw"> 

    <div class="Col">
      <img src="https://st2.depositphotos.com/2069093/6522/i/450/depositphotos_65225857-stock-photo-digital-painting-of-a-turkish.jpg">
      <img src="https://cdn.tourradar.com/s3/cities/520x406/11353_0dcdd3.jpg">
      <img src="https://i.pinimg.com/736x/72/8f/70/728f7099d9a320c297db33b6cf343532--stone-houses-turkey.jpg">
    </div> 
    <div class="Col">
      <img src="https://th.bing.com/th/id/R.927ee39d703c7d449fa7f4888ca1cd47?rik=694JrMEoYwTyoA&riu=http%3a%2f%2fthekurdishproject.org%2fwp-content%2fuploads%2f2015%2f04%2fMardin_P1030301_20080423103307.jpg&ehk=UwHvc30BoqSENcTGerBf9MhbtV34nefC%2bi9skiVBfZI%3d&risl=&pid=ImgRaw&r=0">
      <img src="https://i1.wp.com/gossiphunters.com/wp-content/uploads/2020/04/image-117.png?w=1110&ssl=1">
      <img src="https://www.w3schools.com/w3images/nature.jpg">
     
    </div> 
    <div class="Col">
      <img src="https://utopiaeducators.com/content/images/size/w2000/2020/04/mardin.jpg">
      <img src="https://thumbs.dreamstime.com/b/ancient-cadiz-city-southern-spain-cadiz-cathedral-old-town-view-waterfront-city-cadiz-cadiz-cadiz-124741017.jpg">
      <img src="https://c8.alamy.com/comp/KD1HYB/colourful-street-scene-in-cadiz-spain-KD1HYB.jpg">
     
    </div> 
    <div class="Col">
      <img src="https://th.bing.com/th/id/OIP.a_o5eOS3GXuX1W0Kl1IAEgHaJM?w=976&h=1212&rs=1&pid=ImgDetMain">
      <img src="https://www.w3schools.com/w3images/mist.jpg">
      <img src="https://m.media-amazon.com/images/M/MV5BMzEzMzNmZDgtNDVjYS00YTU2LWFmOGMtZTdmZGQ5MTg2MTk2XkEyXkFqcGdeQXVyNDg4MjkzNDk@._V1_FMjpg_UX1000_.jpg">

    </div> 
  </div>
 
  

<% include ./partials/footer.ejs %>






