<% include ./partials/header.ejs %> 
<div class="w-full h-screen bg-purple-700 flex items-center justify-center">
  <div class="w-[25vw] px-20 py-10 rounded-[30px] bg-zinc-100 bg-white ">
       <h1 class="text-3xl leading-none capitalize tracking-tighter text-center font-semibold text-zinc-700 " >Welcome to pinterest</h1>
   <form action="">
     <input type="text" class="border-2 rounded-md block w-full px-3 py-2 mt-2" name="username" placeholder="Username">
     <input type="text" class="border-2 rounded-md block w-full px-3 py-2 mt-2" name="password" placeholder="Password">
   <a class="mt-2 inline-block font-semibold text-zinc-500" href="">Forget Password</a>
   <input class="border-2 block w-full px-3 py-2 mt-2 bg-red-600 text-white rounded-full " type="submit" value="Login"  >
  <p class="text-xs font-semibold text-zinc-700 mt-10 w-3/4 mx-auto text-center " > By continuing, you agree to Pinterest's Terms of Service and acknowledge you've read our Privacy Policy.Notice at collection
    . </p> 
  </form>
  <a class="inline-block mt-7 text-sm font-semibold text-zinc-700 text-center w-full" href="">Don't have an Account? Register</a>
  </div>
</div>


<% include ./partials/footer.ejs %>
